*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

.noms-detail {
  background: darkgrey;
  padding: 1em;
}

input[type="text"] {
  font-family: inherit; /* 1 */
  font-size: inherit; /* 1 */
  line-height: inherit; /* 1 */
  margin: 0; /* 2 */
}

.form-fields {
  display: flex;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.detail-nom-item {
  font-size: 20px;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

body { 
  margin:0;
  padding:0;
  font-family:helvetica, sans-serif; 
}

a { 
  color:#00abff;
  text-decoration:none; 
}

h1 { 
  font-weight:normal;
  border-bottom:1px solid #bbb;
  padding:0 0 10px 0;
}

h2 {
  font-weight:normal;
  margin:30px 0 0;
}

#content {
  width: 60%;
  padding: 5px 0 0 3px;
}

/* SIDEBAR */
#sidebar { 
  float:right;
  width:10%;
  padding:10px;
  background:rgb(0, 0, 0); 
  height:100%;
  font-weight: 600;
}

.login-user {
  color: #ffffff;
}

/* SIDEBAR */

p.date { 
  color:#ccc;
  font-family: georgia, serif;
  font-size: 12px;
  font-style: italic; 
}

/* pagination */
.pagination { 
  margin:40px 0; 
  font-weight:bold;
}

.errorlist { 
  color:#cc0033;
  float:left;
  clear:both;
  padding-left:10px; 
}

/* comments */
.comment {
  padding:10px;
}

.comment:nth-child(even) {
  background:#efefef;
}

.comment .info {
  font-weight:bold;
  font-size:12px;
  color:#666;
}

/* header */

#nav-bar {
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  padding: 0!important;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a{
  color: #000000 !important;
  font-weight: 600;
  float: right;
  text-align: left;
}

.fa-bars {
  color: #000000 !important;
  font-size: 30px !important;
}

.navbar-toggler {
  outline: none !important;
}

#add_country_ref {
  color: #efefef
}

/* header */

.list_category_change_btn {
  color: #000000 !important;
}

/* NOMENCLATURE ADD FORM */

p.form-field {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

p.form-field-photo {
  display: flex;
  justify-content: space-between;
  width: 40%;
  flex-direction: column;
}

/* NOMENCLATURE ADD FORM */

/* PROFILE EDIT FORM */

.profile_photo {
  width: 250px;
}

/* PROFILE EDIT FORM */

/* CHAT */

.chat {
  display: block;
  width: fit-content;
}

#chat {
    top: 64px;
    bottom:0;
    position:fixed;
    width:60%;
    overflow-y:scroll;
    padding-bottom:150px;
    border: solid;
}

#chat .message {
    background:#efefef;
    padding:10px 20px;
    border-radius:4px;
    width:auto;
    display:inline;
    float:left;
    margin:10px 10px 0;
    min-width:440px;
    clear:both;
}

#chat .message.me {
    display:inline;
    float:right;
    background:#DCEDE0;
    color:#56A668;
}

#chat .date {
    color:#aaa;
    font-style:italic;
    font-size:12px;
}

#chat-input {
    position:absolute;
    bottom:0;
    background:#efefef;
    width:60%;
    padding-top:20px;
    border: solid;
}

#chat-input input {
    width:95%;
    position:left;
    float:left;
    display:inline;
    margin-left:2%;
    margin-right:2%;
    padding-left:0;
    padding-right:0;
}


/* CHAT */

/* LOGS/ACTIONS */

.logs {
  display: block;
  width: fit-content;
}

/* LOGS/ACTIONS */

/* NOMENCLATURE-LIST TABLE */

table, th, td {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.nom-table {
  background: paleturquoise;
}

a.td-nomenclature {
  text-decoration: none;
  color: black;
}

a.td-nomenclature:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.158);
}

/* ERROR MESSAGES */
.error {
  color: red;
}

.success {
  color: green;
}

ul.messages {
  width: fit-content;
}

/*inventory_app*/

.delete-href {
  color: aliceblue;
}
