{% extends 'base_generic.html' %}

{% block title %}
      <title>{{title}}</title>
{% endblock %}
 
{% block content %}
    {% if inventory_item_list %}
        {% if task.status != 'F'%}
            <div class='container'>
                <form class='input-barcode' action = "" method = "post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Ввод">
                </form>
            </div>
        {% else %}
            <div class='container'>
                <form class='update-status' action = "" method = "post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Поднять статус">
                </form>
            </div>
        {% endif %}
    <h3> {{ title }} </h3>
    <table class='nom-table'>
        <tr>
            <th>№</th>
            <th>Название номенклатуры</th>
            <th>Количество</th>
        </tr>
        {% for item in inventory_item_list %}
            <tr>
                <td>{{forloop.counter}}</td> 
                <td><a class="td-nomenclature" href="{{ item.get_absolute_url }}">{{ item.name }}</a></td>
                <td>{{item.current_quantity|floatformat}}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>Нет товаров на пересчёт</p>
    {% endif %}
    {% if task.status == 'IP' %}
        <form class='accept-task' action ="{% url 'accept_task_confirm' task.pk %}" method = "POST">
            {% csrf_token %}
            <input type="submit" value="Завершить задание">
         </form>
    {% endif %}
{% endblock %}