{% extends 'base_generic.html' %}
{% block content %}
    <h1>Список товаров</h1>
    {% if exp_date_entity_list %}
    <table class='nom-table'>
      <tr>
        <th>№</th>
        <th>Название</th>
        <th>Остаток</th>
        <th>Дата изготовления</th>
        <th>Срог годности</th>
      </tr>
      {% for exp_date in exp_date_entity_list %}
          <tr>
             <td>{{ forloop.counter }}</td> 
             <td><a class="td-nomenclature" href="{{ exp_date.get_absolute_url }}">{{ exp_date.name }}</a></td>
             <td>{{ exp_date.quantity|floatformat }}</td>
             <td>{{ exp_date.date_of_manufacture }}</td>
             <td>{{ exp_date.date_of_expiration }}</td>     
          </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>Base is empty</p>
    {% endif %}
    <button class="btn btn-success">
      <a class="delete-href" href="{% url 'exp_date_create' %}">
        Добавить сроки
      </a>
    </button>
    <button class="btn btn-primary">
      <a class="delete-href" href="{% url 'exp_date_nearest_entity_list' %}">
        Отчет по истекающим срокам годности
      </a>
    </button> 
    <button class="btn btn-primary">
      <a class="delete-href" href="{% url 'exp_expired_goods' %}">
        Проверить просроченный товар
      </a>
    </button> 
    <button class="btn btn-primary">
      <a class="delete-href" href="{% url 'nom-search' %}"> Поиск товаров </a>
    </button>
{% endblock %}