{% extends 'base_generic.html' %}

{% block content %}
    <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
        <p><button type="submit">Создать отчёт</button></p>
    </form>
    <h1>Список товаров с истекающим сроком</h1>
    {% if is_nearest_expiration_value %}
        <table class='nom-table'>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Остаток</th>
            <th>Дата изготовления</th>
            <th>Срог годности</th>
        </tr>
        {% for date_tuple_item in is_nearest_expiration_value %}
            <tr>
                <td>{{ forloop.counter }}</td> 
                <td><a class="td-nomenclature" href="{{ date_tuple_item.0.get_absolute_url }}">{{ date_tuple_item.0.name }}</a></td>
                <td>{{ date_tuple_item.0.quantity|floatformat }}</td>
                <td>{{ date_tuple_item.0.date_of_manufacture }}</td>
                {% if date_tuple_item.1 %}
                    <td style='color: red'> {{ date_tuple_item.0.date_of_expiration }} </td>  
                {% else %}
                    <td> {{ date_tuple_item.0.date_of_expiration }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    {% else %}
      <p>Товаров с таким истеающим сроком нет в базе данных</p>
    {% endif %}
    <a href="{% url 'home' %}">На главную </a>
    <a href="{% url 'expiration_date_list' %}"> К срокам годности </a>
    <a href="{% url 'nom-search' %}"> Поиск товаров </a>
{% endblock %}