{% extends 'base_generic.html' %}

{% block content %}
<div class="noms-detail">
  <h2>Наименование: {{ expiration_date_entity.name }}<h2>

  <p class="detail-nom-item">Остаток: {{ expiration_date_entity.quantity|floatformat }}</p>
  <p class="detail-nom-item">Дата изготовления: {{ expiration_date_entity.date_of_manufacture }}</p>
  <p class="detail-nom-item">Срок годности: {{ expiration_date_entity.date_of_expiration }}</p>
  <br>
  <p>
    <button class="btn btn-warning">
      <a class="delete-href" href="{% url 'edit_exp_date' expiration_date_entity.pk %}">
        Изменить
      </a>
    </button>  
    <a>
    <button class="btn btn-danger">    
      <a class="delete-href" href="{% url 'delete_exp_date' expiration_date_entity.pk %}">
        Удалить
      </a>
    </button>
  </p>
</div>

{% endblock %}