{% extends 'base_generic.html' %}

{% block content %}
  <div class="noms-detail">

    <p class="detail-nom-item">Наименование: {{ category.name }}</p>
    <p class="detail-nom-item">Слаг: {{ category.slug }}</p>

    <br>
    <p>
      <button class="btn btn-warning">
        <a class="delete-href" href="{% url 'edit-category' category.pk %}">
          Изменить
        </a>
      </button>  
      <button class="btn btn-danger">    
        <a class="delete-href" href="{% url 'delete_category' category.pk %}">
          Удалить
        </a>
      </button>
    </p>
  </div>
{% endblock %}