{% extends 'base_generic.html' %}
{% block content %}
    <h1>Список товаров</h1>
    {% if nomenclature_list %}
    <table class='nom-table'>
      <tr>
        <th>№</th>
        <th>Название</th>
        <th>Стоимость</th>
        <th>Шт./Кг</th>
        <th>Штрих-код</th>
        <th>Категория</th>
        <th>Страна изг.</th>
      </tr>
      {% for nomenclature in nomenclature_list %}
          <tr>
             <td>{{ forloop.counter }}</td> 
             <td><a class="td-nomenclature" href="{{ nomenclature.get_absolute_url }}">{{ nomenclature.name }}</a></td>
             <td>{{nomenclature.cost}} &#8381</td>
             <td>{% if nomenclature.weight_or_piece == "WT" %} Вес {% else %} Шт {% endif %}</td>
             <td>{{ nomenclature.barcode }}</td>
             <td><a class="td-nomenclature" href="{{ nomenclature.category.get_absolute_url }}">{{ nomenclature.category }}</a></td>
             <td>{% if nomenclature.country_made_id == None %}----{% else %}{{ nomenclature.country_made_id }}{% endif %}</td>      
          </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>Base is empty</p>
    {% endif %}
    {% include 'includes/add_nom_button_href.html'%}
    <a href="{% url 'nom-search' %}"> Поиск товаров </a>
{% endblock %}