{% extends 'base_generic.html' %}

{% block content %}
<div class="noms-detail">
  <h2>Наименование: {{ nomenclature.name }}<h2>

  <p class="detail-nom-item">Цена: {{ nomenclature.cost }}</p>
  <p class="detail-nom-item">Тип товара: {{ nomenclature.get_weight_or_piece_display }}</p>
  <p class="detail-nom-item">Штрих-код: {{ nomenclature.barcode }}</p>
  <p class="detail-nom-item">Категория: {{ nomenclature.category }}</p>
  <p class="detail-nom-item">Страна изготовления: {{ nomenclature.country_made_id }}</p>
  <br>
  <p>
    <button class="btn btn-warning">
      <a class="delete-href" href="{% url 'edit-nomenclature' nomenclature.pk %}">
        Изменить
      </a>
    </button>  
    <a>
    <button class="btn btn-danger">    
      <a class="delete-href" href="{% url 'delete_nomenclature' nomenclature.slug %}">
        Удалить
      </a>
    </button>
  </p>
  <p>
    <a href="{% url 'nom_share' nomenclature.id %}">
      Поделиться
    </a>
  </p>
</div>

{% endblock %}
